.search-page-container {
    width: 80vw;
    margin: 0 auto;
    padding-top: 2rem;

    header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 2rem;
    }
    
    img {
        max-height: 40px;
        margin-right: 1rem;
        cursor: pointer;
    }
}